__pycache__
this
.idea/
tmp/
runner.env
artifacts/
*~
*backups
.cache
docker-tag
.tox/
.*.swp
*.egg-info
wheelhouse/
test/build/*
PASSED
FAILED
test/.vagrant/*
.pytest_cache
.eggs/
venv*
.vscode/
/config/
*.code-workspace
