PUID=1000
PGID=1000
TZ=America/Toronto
SERVER_NAME=
WORLD_NAME=
SERVER_PASS="SomeDifficultPasswordToGuess!"
SERVER_PUBLIC=0
BACKUPS_MAX_AGE=30
#SUPERVISOR_HTTP=true

#Mods
#VALHEIM_PLUS=true

DISCORD_WEBHOOK=https://discord.com/api/webhooks/...........

VALHEIM_LOG_FILTER_REGEXP_Death=\bGot character ZDOID from \b.*\b : 0:0
ON_VALHEIM_LOG_FILTER_REGEXP_Death={ read l; l=${l//ZDOID from /}; l=${l// :/}; msg="$l just died!"; curl -sfSL -X POST -H "Content-Type: application/json" -d "{"username":"Valheim","content":"$msg"}" "$DISCORD_WEBHOOK"; }

VALHEIM_LOG_FILTER_CONTAINS_RandomEvent=Random event
ON_VALHEIM_LOG_FILTER_CONTAINS_RandomEvent={ read l; l=${l//Random event set: /}; l=${l// :/}; msg="Random event: $l"; curl -sfSL -X POST -H "Content-Type: application/json" -d "{"username":"Valheim","content":"$msg"}" "$DISCORD_WEBHOOK"; }

VALHEIM_LOG_FILTER_REGEXP_Spawned=\bGot character ZDOID from \b.\b : [^0]\d\b:\b(1|2|3|4|5|6|7|8|9|10)\D
ON_VALHEIM_LOG_FILTER_REGEXP_Spawned={ read l; l=${l//ZDOID from /}; l=${l// :/}; msg="$l is online!"; curl -sfSL -X POST -H "Content-Type: application/json" -d "{"username":"Valheim","content":"$msg"}" "$DISCORD_WEBHOOK"; }

#Local log
ON_VALHEIM_LOG_FILTER_REGEXP_Spawned=cat >> /config/player_login_history.txt
