[Unit]
Description=Valheim Server
After=docker.service
Requires=docker.service
ConditionPathExists=/etc/sysconfig/valheim-server

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull lloesche/valheim-server
ExecStart=/usr/bin/docker run \
          --name %n \
          --rm \
          --cap-add=sys_nice \
          -v /etc/valheim:/config:Z \
          -v /opt/valheim:/opt/valheim:Z \
          -p 2456-2457:2456-2457/udp \
          --env-file /etc/sysconfig/valheim-server \
          lloesche/valheim-server
ExecStop=/usr/bin/docker stop %n
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
