PUID=1000
PGID=1000
TZ=America/Toronto
SERVER_NAME=
WORLD_NAME=
SERVER_PASS="SomeDifficultPasswordToGuess!"
SERVER_PUBLIC=0
BACKUPS_MAX_AGE=30
#SUPERVISOR_HTTP=true

#Mods
#VALHEIM_PLUS=true

DISCORD_WEBHOOK=https://discord.com/api/webhooks/...........

VALHEIM_LOG_FILTER_CONTAINS_Spawned=Got character ZDOID from
ON_VALHEIM_LOG_FILTER_CONTAINS_Spawned={ read l; l=${l:46}; l=${l// :*/}; msg="[$(date +'%b %d %T')] Player $l connected."; curl -sfSL -X POST -H "Content-Type: application/json" -d "{\"username\":\"Hugin\",\"content\":\"$msg\"}" "$DISCORD_WEBHOOK"; }
